@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1e1e1e;
  --foreground: #fff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#topNav {
  background: #111111;
}

.navButton {
  background: #111111;
  
}
.seperated{
  border-bottom: 1px solid;
  border-color: #fff;
  padding-bottom: 3px;
}

.dropdown-rounded {
  border-radius: 10px;
}

.overlay {
  position: fixed; 
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0; 
  background: rgba(0, 0, 0, 0.01);
}

.clickable{
  cursor: pointer;
}